* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1406px;
  margin: 0 auto;
}
